<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="bestfriend.css" media="screen">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->
		<link rel="stylesheet" href="../static/stylesDash.css" media="screen">
		<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet"> 
		
		
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js">
        </script>
        <![endif]-->
    </head>
    <body>
        <header role="banner"> 
			<center>
			<img src="../static/cityscape_logo.png" alt="Cityscape" width="30%" height="30%">
			</center>
        </header>
        <nav role="navigation">

        </nav>
        <div class="wrapper">
        <main role="main">
		<br>
			<center>
			<h2>Login</h2>
			<form action="{{ url_for('login') }}" method="post"> 
			  <input type="text" id="username" name="username" value="Username"><br> 
			  <br>
			  <input type="text" id="password" name="password" value="Password"><br> 
			  <br>
			  <input type=submit value="Submit">
			</form>
			<br>
			<form action="{{ url_for('redirect') }}" method="post"> 
			  <input type=submit value="Create Account">
			</form>
			<br>
			<th>{{ message }}</th>
			
			</center>
        </main>
        <footer role="contentinfo">
        </footer>
        </div>
    </body>
	
	 <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</html>
